/* https://fonts.google.com/ */

/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

/* @font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Italic";
    src: url("font/Roboto-Italic.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Black";
    src: url("font/Roboto-Black.ttf");
  }
   */
  
  
  /* 
  Une mise en page flexible doit avoir un élément parent avec la propriété display définie sur flex.
  Les éléments enfants directs du conteneur flexible deviennent automatiquement des éléments flexibles.
  
  .flexbox{
  display: flex;
  
  Flex Container : 
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  flex-wrap: wrap-reverse;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  
  height: 200px; à définir absolument une hauteur quand on utilise "align-items"
  align-items: center;
  align-items: flex-start;
  align-items: flex-end;
  align-items: stretch;
  align-items: baseline;
  
  flex-wrap: wrap;
  align-content: space-between;
  
  flex-wrap: wrap;
  align-content: space-around;
  
  flex-wrap: wrap;
  align-content: stretch;
  
  flex-wrap: wrap;
  align-content: center;
  align-content: space-evenly;
  
  flex-wrap: wrap;
  align-content: flex-start;
  
  flex-wrap: wrap;
  align-content: flex-end;
  
  justify-content: center;
  align-items: center;
  
  Child Elements (Items) :
  display: flex;
  align-items: stretch; ->
  pour un item :
  order
  
  display: flex;
  align-items: stretch; ->
  pour un item :
  order
  
  display: flex;
  align-items: stretch;
  
  flex-grow
  
  display: flex;
  align-items: stretch;
  flex-shrink
  
  
  flex-basis
  flex : auto // On l'utilse pour les enfants
  align-self
  
  
  flex-flow
  
  }
  */
  
  /*************** RESET ***************/
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
  }
  *{
      box-sizing: border-box;/*pour garder la meme taille*/
  }
  iframe, img{
      width:100%;
      display:block;
  }


  /* ------------------- Fin RESET ------------------- */

/* //////// CODE PRE-PARAMETRE //////// */

  .container{
      width: 1052px;
      margin: auto;
  }
  
  .flexy{
      display: flex;
  }
  
  .ul_reset{
      display: flex;
      list-style-type: none;
      
  }
  
  .ul_reset a{
      text-decoration: none;
      color: black;
  }
  
  .a_reset{
      text-decoration: none;
      color: black;
  }
  
  
  
  /* //////// FONT //////// */
  
  @font-face {
    font-family: "Liberation-regular";
    src: url(../font/LiberationSans-Regular-webfont.ttf);
  }
  
  @font-face {
    font-family: "Liberation-semibold";
    src: url(../font/LiberationSans-Bold-webfont.ttf);
  }
  
  /* /////////////////////////// CODE /////////////////////////// */
  
  body{
    font-family: Liberation-regular;
    background-color: #1c1c1c;
  }
  
  
  /******************* HEADER *******************/
  header{
    background-image: url(../img/background.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .hdr{
    display: flex;
    justify-content: space-around;
  }

  .hdr>div{
    width: 500px;
  }
  
  
  
  /*------------- HEADER - parti 1 (logo)-------------*/

  .logo{
    width: 200px;
  }
  
  h1{
    margin-top: 20px;
    font-size: 16px;
    font-family: Liberation-regular;
    font-weight: 500;
  }

  .entete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*---------- HEADER - parti 2 (navigation)----------*/
  .jaune{
    color: #ea9f06;
  }

  .bonjour{
    text-align: end;
  }


  .lien_hdr{
    justify-content: end;
    margin-top: 20px;
  }

  .lien_hdr li{
    margin-left: 20px;
  }
  
  .lien_hdr>li a:hover{
    color: #ea9f06;
  }

  nav{
    align-items: end;
  }

  .entete2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  /*  --------------- Fin HEADER --------------- */


  /*//////////////////// MAIN ////////////////////*/
  
  main{
    background-color: #1c1c1c;
  }

  .container_main{
    /* background-image: url(../img/background.jpg); */
    background-color: #f3f3f3;
    margin-top: 20px;
  }

  /***************** SECTION 1 *****************/
  .sect1{
    background-image: url(../img/header-page-catalogue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 330px;

  }

  /*  ------------- Fin SECTION 1 ------------- */
  
  /***************** SECTION 2 *****************/

  .sect2{
    margin-top: 40px;
    width: 1052px;
    padding-bottom: 100px;
  }

  .wrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  }

  .produit{
    width: 350px;
    margin: 40px;
  }


  .gant{
    /* width: 400px; */
    position: relative;
  }

  .legende{
    position: absolute;
    /* transform: translate(25%,-200%); */
    text-align: center;
    bottom: 15px;
    /* left: 60px; */
    width: 350px;
  }

  .promo{
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 4px;
    width: 100px;
    position: absolute;
    right: -50px;
    top: 20px;
  }

  .promo>p{
    text-align: center;
    font-size: 25px;
    font-family: Liberation-semibold;
  }

  .btn_vente{
    background-color: #1c1c1c;
    color: white;
    border: none;
    width: 200px;
    padding: 5px 0;
    font-size: 15px;
  }

  .barre{
    text-decoration: line-through;
  }

  .barre,
  .prix{
    margin-left: 30px;
    font-size: 25px;
  }

  .zone_achat{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
  }


  /* .essai{
    background-color: black;
    padding: 20px;
    width: 100px;
  } */

  .zone_achat{
    font-family: Liberation-semibold;
  }

  /*  ------------- Fin SECTION 2 ------------- */
  
  /***************** SECTION 3 *****************/
  
  /*  ------------- Fin SECTION 3 ------------- */  
  
  /*//////////////////// FOOTER ////////////////////*/

  footer{
    background-color: #373737;
  }

  /*------- FOOTER - PARTIE 1 (info site)---------*/

.ftr_nav{
    display: flex;
    justify-content: center;
    position: relative;
}

.ul_ftr{
    justify-content: center;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 20px 0;
    position: absolute;
    bottom: -30px;
}

.ul_ftr>li{
    margin: 0 8px;
    font-size: 13px;
}

.ul_ftr a{
color: #373737;
}

.ul_ftr a:hover{
color: #ea9f06;
}

.ul_ftr>li>div{
    background-color: #d2d2d2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 8px;

}

  /*------- FOOTER - PARTIE 2 (les services)-------*/

  .icone{
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
  }


  .service_a{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-bottom: 20px; */
    padding-top: 100px;
  }

  .service_b{
    width: 240px;
    text-align: center;
    color: white;
    font-size: 12px;
  }

  .border{
    border: 1px solid #818181;
    width: 100%;
    margin-top: 30px;
  }

   /*----- FOOTER - PARTIE 3 (réseaux sociaux)-----*/

  .reseau{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .reseau>div{
    height: 80px;
    margin: 0 40px;
  }

/*----- FOOTER - PARTIE 4 (copyrigth) -----*/
  .copy{
    text-align: center;
    color: white;
    font-size: 12px;
    padding-bottom: 20px;
  }
  
  
  
  
  
  /*//////////////// MEDIA QUERY /////////////////*/
  
  
  

  /***************** max-width: 1070px *****************/

@media (max-width: 1070px) {


    .container_main{
        width: 85%;
        margin: auto;
        
    }


    /*---- HEADER  - mediaquery 1070px-----*/
  
    .hdr{
        display: block;
        justify-content: center;
    }

    .hdr>div{
        width: 100%;
    }


    /*---- HEADER 1070px- parti 1 (logo)-----*/

    .logo {
        width: 300px;
        margin: auto;
    }


    /*---- HEADER 1070px- parti 2 (navigation)-----*/

    .bonjour{
        text-align: start;
        margin-left: 40px;
    }

    .lien_hdr{
        justify-content: space-between;
        margin-top: 30px;
    }

    .lien_hdr li{
        margin: 0 40px;
    }

    .entete2 {
        margin-top: 70px;
    }


    /*----------- MAIN - 1070px------------*/
    .container_main {
        margin-top: 35px;
    }

    /* .container_main{
        margin-top: 30px;
    } */

    /*---------- SECTION 1 - 1070px ----------*/
    .entete2{
        width: 800px;
    }


    /*---- SECTION 2 - 1070px-----*/

    .sect2{
        width: 100%;
    }

    .wrap{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 860px;
        
    }
}

  /*  ------------- fin max-width: 1070px ------------- */
  

  
/***************** max-width: 576px *****************/
@media (max-width: 576px) {

    

    /*---- HEADER  - mediaquery 576px-----*/

    .container{
        width: 90%;
        margin: auto;
        /* margin-top: 30px; */
    }

    /*---- HEADER 576px- parti 1 (logo)-----*/
    h1    {
        text-align: center;
        font-size: 22px;
    }

    .entete2{
        margin-top: 50px;
    }

    .bonjour{
        margin-left: 20px;
    }

    .lien_hdr li{
        margin: 0 20px;
    }

    .container_main{
        margin-top: 30px;
    }
    /*---- SECTION 2 - 576px-----*/

    .sect2{
        width: 100%;
    }

    .wrap{
        width: 100%;

    }
    

    /*---- FOOTER - 576px-----*/

    .container_ftr{
        width: 90%;
    }

  /*---- FOOTER - - PARTIE 2 (les services) - 576px-----*/
    .service_b {
        width: 205px;
        margin: 10px;
    }
}

/*  ------------- fin max-width: 576px ------------- */
  
  
  /*************** fin MEDIAQUERY ***************/
  

 
